extends templates/layout

block content
  h1 Add Movie
  form(action=`/add`, method="post")
    input(type="text", id="title", name="title", placeholder="title" required=true)
    textarea(name="synopsis", placeholder="synopsis", required=true)
    input(type="text", id="genres", name="genres", placeholder="genres" required=true)
    input(type="submit", value="Add Movie")

